RewriteEngine On

RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE:%1]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{QUERY_STRING} (.*&|)user=([^&]*)(?:&(.*)|)
RewriteRule ^(index.php)?$ %{ENV:BASE}/%2?%1%3 [NE,R=302,L]

RewriteCond %{QUERY_STRING} ^userlang=(.+)$
RewriteRule ^(.*)$ %{ENV:BASE}/index.php?user=$1&userlang=%1 [PT,L]

RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)$ %{ENV:BASE}/index.php?user=$1 [PT,L]
